* {
    box-sizing: border-box;
  }
body {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #c4170c;
    color: #fff;
    padding: 10px;
    font-family: opensans, helvetica, arial, sans-serif;
}

.main {
    max-width: 1300px;
    margin: 0px auto;
}

header div {
    flex: 1;
    /* border:1px solid lime; */
    height: 50px;
    display: flex;
    align-items: center;
}

header .header-left {
    justify-content: start;
}

header .header-center {
    justify-content: center;
}

header .header-right {
    justify-content: flex-end;
}

header div svg {
    width: 50px;
}

.o-que-foi-noticia-nesta-sexta {
    font-family: "opensans-semibold", "Helvetica Neue", Arial, sans-serif;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: normal;
    line-height: normal;
    color: inherit;
    transition: ease .3s;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 16px 24px;
    margin: 0px auto;
    margin-top: 2.5rem;
    box-sizing: border-box;
}

.o-que-foi-noticia-nesta-sexta div {
    flex: 1;
}

.o-que-foi-noticia-nesta-sexta div:nth-child(2) {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.o-que-foi-noticia-nesta-sexta>div:nth-child(2)>span {
    font-size: 14px;
    font-family: "opensans-bold", "Helvetica Neue", Arial, sans-serif;
    letter-spacing: -.64px;
    line-height: 16px;
    margin-right: .5em;
    text-align: left;
    word-break: break-word;
    color: #a6130a;
    font-weight: 900;
}

section.noticias {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
    padding: 24px 24px 24px 24px;
}

section.noticias>h1 {
    margin: 0;
    padding: 0;
}

section.noticias>div {
    flex: 1;
    padding: 15px;
}

section.noticias>div:nth-child(1) {
    height: 600px;
    /* border: 1px solid red; */
    flex-direction: column;
    /* border: 1px solid #e1e1e1; */
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-right: 15px;
}

section div h1.noticia-titulo {
    font-size: 40px !important;
}

.caixa {
    flex: 1;
    min-height: 100%;
    display: flex;
    align-items: center;
  
}

.subtitulo {
    font-size: 16px !important;
    line-height: 0%;
}

section.noticias>div:nth-child(2) {
    height: 600px;
    /* border: 1px solid lime; */
    /* border: 1px solid #e1e1e1; */
    border-radius: 3px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.container {
    display:flex;
    flex-direction: column;
    border: 1px solid block;
  }
  .box {
    flex: 1;

  }
  .inner-box {
    border: 1px solid green;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .divider {
    border-color: red;
    width: 100%;
    border-top-width: 5px;
  }